
/* Reset margins and padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the full viewport height is used */
  overflow: hidden; /* Prevent scrolling on the body directly */
}

#canvasContainer {
  height: calc(100vh - 100px); /* Adjust based on header/footer. This assumes 100px total for header/footer */
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
}

canvas {
  display: block; /* Remove extra space below canvas */
  /* No width set here since it's controlled by JavaScript */
}

.fraction {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.fraction .numerator,
.fraction .denominator {
  padding: 0 2px;
}

.fraction .denominator {
  border-top: 1px solid;
}

#pulseTable {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

td {
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  text-align: center;
}

#irregularTable {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#td_irregularPulseInput {
  padding-bottom: 0px;
}

#td_irregularDenominator {
  padding-top: 0px;
  border-top: 1px solid black;
}

#irregularPulseInput {
  text-align: center;
  width: 7em;
  border: none;
}

#irregularDenominator {
  text-align: right;
  width: 3em;
  border: none;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
  
input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

#denominator_1 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(0, 0, 0);
}

#denominator_2 input[type=checkbox]:checked+label, #denominator_4 input[type=checkbox]:checked+label, #denominator_8 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(33, 7, 232);
}

#denominator_3 input[type=checkbox]:checked+label, #denominator_9 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(232, 165, 7);
}

#denominator_5 input[type=checkbox]:checked+label, #denominator_10 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(244, 10, 10);
}

#denominator_6 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(20, 109, 16);
}

#denominator_7 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(108, 11, 225);
}

#denominator_11 input[type=checkbox]:checked+label {
  font-style: normal;
  color: rgb(116, 38, 3);
}

#zoom {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#zoomSlider {
  position: relative;
  top: 4px;
}

#floatingUI {
  width: fit-content;
  height: fit-content;
  background-color: #d1d0d0;
  border: 1px solid #d3d3d3;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 0.5em;
  border-radius: 1em;
}

#header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  border-radius: 0.5em 0.5em 0em 0em;
}

#resetButton {
  float: right;
}
